.events-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;

  @media (min-width: 1500px) {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  @media (min-width: 1920px) {
    grid-template-columns: repeat(auto-fit, minmax(497px, 1fr));
  }
}

@supports not (display: grid) {
  .events-container {
    display: flex;
    flex-wrap: wrap;
  }

  .event-card-container{
    width: 350px;
    /* flex-grow: 1; */
  }
}
