.exam-first-exam-btn {
  margin: auto 0 25px;
}

.exam-payment-container {
  background: #0b3d59;
  padding: 25px 40px;
  flex: 1;
  border-radius: 16px;
  color: white !important;
  max-width: 400px;
}

.exam-forms {
  flex: 1;
}

.exam-payment-container h4 {
  color: white;
  margin: 0;
  margin-bottom: 20px;
}
.exam-payment-container label {
  color: white;
}

.exam-forms .card-layout:last-child {
  margin-bottom: 0;
}

.exam-price {
  text-align: center;
  display: block;
  margin: 50px 0 25px;
  color: white;
  font-size: 20px;
}

.exam-pay-btn {
  min-width: 50%;
  margin: 0 auto;
  display: block;
}
