@font-face {
    font-family: "IRANSans";
    src: local("IRANSans"),
    url("/assets/fonts/IRANSans.woff2");
}

body {
    font-family: 'IRANSans', serif !important;
    padding: 0;
    margin: 0;
}