:root{
    --color-primary: #0B3D59;
    --color-secondary: #117C76;
    --color-gray: #707070;
}
@font-face {
    font-family: "IRANSans";
    src: local("IRANSans"),
    url("/assets/fonts/IRANSans.woff2");
}

body {
    font-family: 'IRANSans', serif !important;
    padding: 0;
    margin: 0;
}